
/* FONT STYLINGS */
h1 {
  color: black;
  font-family: "Lato", Arial, sans-serif;
  font-weight: 800;
  font-style: black;
  font-size: x-large;
  /* padding: 0px 10px 0px; */
  /* border: 1px solid black; */
  /* background-color: yellow; */
  /* border: 1px solid black; */
}

h2 {
  color: black;
  /* font-family: Arial, san-serif; */
  font-family: Georgia, serif;
  font-size: larger;
  /* font-weight:semibold; */
  /* background-color: yellow; */
  /* border: 1px solid black; */
}

body {
  color: black;
  font-family: Georgia, serif;
  padding: 20px;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  /* padding: 0px 10px 0px; */
  /* border: 1px solid black; */
}

.left {
  width: 450px;
}

.right {
  width: 225px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 450px) {
  .column {
	width: 100%;
  }
}

/* LINKS */

a:link {
  color: mediumpurple;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: grey;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  /* color: red; */
  background-color: lavenderblush;
  /* text-decoration: underline; */
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

a.philpeople:hover {
  color: blue;
  background-color: lightgreen;
}

/* LIST STYLING */
ul.none {
  list-style-type: none;
  margin: 0;
  padding: 0px 10px;
  
}

ol {
  /* margin: 0; */
  padding: 0px 20px 0px;
}

/* DETAIL STYLING */

details {
  border: 0px solid gray;
  /* border: 1px solid gray; */
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
}

summary {
  font-weight: regular;
  border-bottom: 0px solid gray;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

details summary { 
  cursor: pointer;
  color: mediumpurple;
}

details summary > * {
  display: inline;
}

details[open] {
  padding: 0.5em;
}

details[open] summary {
  /* border-bottom: 1px solid gray; */
  border-bottom: 0px solid gray;
  margin-bottom: 0.5em;
}

.word-break {
  width: 100%;
  border: none;
  padding: 0px;
}

.word-break--break-all {
  word-break: break-all;
}

.flex-container {
  display: flex;
  justify-content: space-around;
}